<html>
	<head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.13.2/select.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-animate.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.13.2/select.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
		<script src="app.js"></script>
	</head>
	<body ng-app="overwolf" ng-controller="table as vm">
		<table class="table">
			<thead>
				<tr>
					<th>
						Name
						<div class="has-feedback" ng-init="vm.input.name = ''">
							<input type="text" class="form-control" ng-model="vm.input.name" ng-change="vm.resetFilters()">
						    <a 
						    	class="glyphicon glyphicon-remove form-control-feedback form-control-clear" 
						    	ng-click="vm.input.name = ''" 
						    	style="pointer-events: auto; text-decoration: none;cursor: pointer;"
						    	ng-show="vm.input.name != ''"></a>
						</div>
					</th>
					<th>
						Location
						<ui-select
							theme="bootstrap"
							ng-model="vm.input.area"
							search-enabled="false"
							style="width: 300px;">
							<ui-select-match
								allow-clear="true"
								placeholder="All">
						        <span ng-bind="$select.selected.value.name"></span>
							</ui-select-match>
							<ui-select-choices 
								repeat="location.value.name as (key, location) in vm.locations"
								group-by="vm.locationGroupFn">
								<div>{{ location.value.name }}</div>
							</ui-select-choices>
						</ui-select>

						<!-- <div class="btn-group" uib-dropdown is-open="status.isopen">
							<button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
							Location <span class="caret"></span>
							</button>
							<ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
								<li role="menuitem"><a>La Noscea</a></li>
								<li role="menuitem"><a>Eastern La Noscea</a></li>
								<li role="menuitem"><a>Western La Noscea</a></li>
								<li role="menuitem"><a>Lower La Noscea</a></li>
								<li role="menuitem"><a>Middle La Noscea</a></li>
								<li role="menuitem"><a>Outer La Noscea</a></li>
								<li role="menuitem"><a>Upper La Noscea</a></li>
								<li class="divider"></li>
							</ul>
						</div> -->
					</th>
					<th>
						Rank
						<div>
						    <div class="btn-group" ng-init="vm.input.rank = ''">
						        <label class="btn btn-default" ng-model="vm.input.rank" uib-btn-radio="''">All</label>
						        <label class="btn btn-primary" ng-model="vm.input.rank" uib-btn-radio="'A'">A</label>
						        <label class="btn btn-success" ng-model="vm.input.rank" uib-btn-radio="'S'">S</label>
						    </div>
						</div>
					</th>
					<th>
						Status
						<div>
						    <div class="btn-group" ng-init="vm.input.type = ''">
						        <label class="btn btn-default" ng-model="vm.input.type" uib-btn-radio="''">All</label>
						        <label class="btn btn-danger" ng-model="vm.input.type" uib-btn-radio="'awaiting'">Awaiting</label>
						        <label class="btn btn-success" ng-model="vm.input.type" uib-btn-radio="'open'">Open</label>
						        <label class="btn btn-info" ng-model="vm.input.type" uib-btn-radio="'no info'">No Info</label>
						    </div>
						</div>
					</th>
					<th>Time</th>
				</tr>
			</thead>
			{{ vm.input | json }}
			<tbody>
				<tr ng-repeat="hunt in vm.hunts | filter:vm.input:strict ">
					<td>{{ hunt.name }}</td>
					<td>{{ hunt.area }}</td>
					<td>{{ hunt.rank }}</td>
					<td>{{ hunt.type }}</td>
					<td>{{ hunt.time | moment }}</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>