<html>
	<head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.13.2/select.css">
		<link rel="stylesheet" type="text/css" href="style.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-animate.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.13.2/select.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
		<script src="app.js"></script>
	</head>
	<body ng-app="overwolf" ng-controller="table as vm">
		<div class="resizeGrip" id="resizeGripTopLeft" onmousedown="dragResize('TopLeft');"></div>
		<div class="resizeGrip" id="resizeGripTop" onmousedown="dragResize('Top');"></div>
		<div class="resizeGrip" id="resizeGripTopRight" onmousedown="dragResize('TopRight');"></div>
		<div class="resizeGrip" id="resizeGripRight" onmousedown="dragResize('Right');"></div>
		<div class="resizeGrip" id="resizeGripBottomRight" onmousedown="dragResize('BottomRight');"></div>
		<div class="resizeGrip" id="resizeGripBottom" onmousedown="dragResize('Bottom');"></div>
		<div class="resizeGrip" id="resizeGripBottomLeft" onmousedown="dragResize('BottomLeft');"></div>
		<div class="resizeGrip" id="resizeGripLeft" onmousedown="dragResize('Left');"></div>
		<div id="content">
			<table class="table table-condensed">
				<thead>
					<tr onmousedown="dragMove();">
						<th>Name</th>
						<th>Location</th>
						<th>Rank</th>
						<th>Status</th>
						<th>Time</th>
					</tr>
					<tr>
						<th>
							<div class="has-feedback" ng-init="vm.input.name = ''">
								<input type="text" class="form-control" ng-model="vm.input.name" ng-change="vm.resetFilters()">
							    <a 
							    	class="glyphicon glyphicon-remove form-control-feedback form-control-clear" 
							    	ng-click="vm.input.name = ''" 
							    	style="pointer-events: auto; text-decoration: none;cursor: pointer;"
							    	ng-show="vm.input.name != ''"></a>
							</div>
						</th>
						<th>
							<ui-select
								theme="bootstrap"
								ng-model="vm.input.area"
								search-enabled="false">
								<ui-select-match
									allow-clear="true"
									placeholder="All">
							        <span ng-bind="$select.selected.value.short"></span>
								</ui-select-match>
								<ui-select-choices 
									repeat="location.value.name as (key, location) in vm.locations"
									group-by="vm.locationGroupFn">
									<div>{{ location.value.name }} ( {{ location.value.short }} )</div>
								</ui-select-choices>
							</ui-select>
						</th>
						<th>
						    <div class="btn-group" ng-init="vm.input.rank = ''">
						        <label class="btn btn-default" ng-model="vm.input.rank" uib-btn-radio="''">All</label>
						        <label class="btn btn-primary" ng-model="vm.input.rank" uib-btn-radio="'A'">A</label>
						        <label class="btn btn-success" ng-model="vm.input.rank" uib-btn-radio="'S'">S</label>
						    </div>
						</th>
						<th colspan="2">
						    <div class="btn-group" ng-init="vm.input.type = ''">
						        <label class="btn btn-default" ng-model="vm.input.type" uib-btn-radio="''">All</label>
						        <label class="btn btn-danger" ng-model="vm.input.type" uib-btn-radio="'awaiting'">Awaiting</label>
						        <label class="btn btn-success" ng-model="vm.input.type" uib-btn-radio="'open'">Open</label>
						        <label class="btn btn-info" ng-model="vm.input.type" uib-btn-radio="'no info'">No Info</label>
						    </div>
						</th>
					</tr>
				</thead>
				<tbody onmousedown="dragMove();">
					<tr 
						ng-repeat="hunt in vm.hunts | filter:vm.input:strict "
						ng-class="{
							success: hunt.type=='open',
							danger: hunt.type=='awaiting',
							info: hunt.type=='no info'
						}">
						<td>{{ hunt.name }}</td>
						<td>{{ hunt.area | shortName }}</td>
						<td>{{ hunt.rank }}</td>
						<td>{{ hunt.type }}</td>
						<td>{{ hunt.time | moment }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>