html {
	height: 100%;
	width: 100%;
}

.resizeGrip {
	background: grey;
	border: 1px solid grey;
	position: absolute;
}

#content {
	position: absolute;
	top:10px;
	bottom: 10px;
	left: 10px;
	right: 10px;
}

.table > thead > tr > th {
	vertical-align: top;
}

table {
	table-layout: fixed;
}

.ui-select-bootstrap > .ui-select-choices {
	width: 250px;
}

a {
	cursor: pointer;
}